<li>
  <%= comment.body %> -
  <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
  <%= form_for [comment, Comment.new] do |f| %>
    <div class ="form-group">
      <%= f.text_area :body, :class => "form-control", placeholder: "Add a Reply" %><br/>
    </div>
    <%= f.submit "Reply"  %>
    <% end %>
  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>
